APP_PORT = ''
LOG_LEVEL = ''
API_VERSION = ''
TOKEN_SECRET = ''
DATABASE_NAME = ''
DATABASE_USERNAME = ''
DATABASE_PASSWORD = ''
DATABASE_HOST = 'localhost'
DATABASE_PORT = ''
REDIS_USERNAME = ''
REDIS_PASSWORD = ''
REDIS_HOST = ''
REDIS_PORT = ''
RABBITMQ_URL = ''
KAF_CLIENT_ID = ''
KAF_GROUP_ID = ''
KAF_BROKERS = ''
SMTP_USER = ''
SMTP_PASS = ''
SMTP_HOST = ''
SMTP_PORT = ''
CLIENT_HOST = ''
OPEN_API_KEY = ''
